uvicorn==0.32.0
fastapi==0.115.5
python-dotenv==1.0.1
motor==3.6.0
python-dateutil==2.9.0.post0
pytz==2024.2
python-jose
passlib
cryptography==43.0.3
python-multipart==0.0.17
bcrypt==4.2.0
requests==2.32.3
fpdf==1.7.2
fpdf-table
librouteros==3.3.1
pillow